<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
	<head>
	    <title>RecipeSite</title>
	</head>
	<body>
	    <div class="users-new-wrapper" layout:fragment="contents">
	        <div class="container">
	            <div class="row p-form-top d-none d-lg-block d-xl-block d-xxl-block"></div>
	            <div class="row">
	                <main class="col-md-4 mx-auto">
	                    <h1 class="text-center text-black">新規登録</h1>
	                    <form method="post" th:action="@{/user}" th:object="${form}">
	                        <div layout:replace="~{layouts/common::messages}"></div>
	                        <div class="mb-3">
	                            <label class="form-label text-black" for="user_name">名前</label>
	                            <input type="text" class="form-control" th:field="*{name}" />
	                            <p th:if="${#fields.hasErrors('name')}" class="error-message" th:errors="*{name}"></p>
	                        </div>
	                        <div class="mb-3">
	                            <label class="form-label text-black" for="user_email">メールアドレス</label>
	                            <input type="text" class="form-control" th:field="*{email}" />
	                            <p th:if="${#fields.hasErrors('email')}" class="error-message" th:errors="*{email}"></p>
	                        </div>
	                        <div class="mb-3">
	                            <label class="form-label text-black" for="user_password">パスワード</label>
	                            <input class="form-control" type="password" th:field="*{password}" />
	                            <p th:if="${#fields.hasErrors('password')}" class="error-message" th:errors="*{password}">
	                            </p>
	                        </div>
	                        <div class="mb-3">
	                            <label class="form-label text-black" for="user_password_confirmation">パスワード（確認用）</label>
	                            <input type="password" class="form-control" th:field="*{passwordConfirmation}" />
	                            <p th:if="${#fields.hasErrors('passwordConfirmation')}" class="error-message" th:errors="*{passwordConfirmation}"></p>
	                        </div>
	                        <input type="submit" value="登録" class="btn w-100 btn btn-primary" />
	                    </form>
	                </main>
	            </div>
	        </div>
	    </div>
	</body>
</html>